
@import './assets/hot-kit/hot-kit';

// Sections
@import './sections/header.scn';
@import './sections/biography.scn';
@import './sections/timeline.scn';
@import './sections/gradient.scn';
@import './sections/quotes.scn';
@import './sections/main-content.scn';
@import './sections/piano.scn';
@import './sections/sources.scn';

body {
  background-color: #333333;
  //height: 4000px;
  height: auto;
}

//Placeholder
.plc {
  background-color: rgba(0, 0, 255, .2);
  border: 2px solid yellow;
}

//Fonts
@font-face {
  font-family: 'sail';
  src: url('fonts/sail/Sail-Regular.ttf');
  font-weight: 500;
  //font-style: italic;
}

// Centering columns
.col-centered{
  float: none;
  margin: 0 auto;
}
// Prevent Overscrolling
//html {
//  overflow: hidden;
//  height: 100%;
//}
//
//body {
//  height: 100%;
//  overflow: auto;
//}




