
@import "../assets/hot-kit/hot-kit";

.header {
  background-color: #003366;
  height: 230px;
  width: 100%;

  @include mq('desktop') {
    height: 205px;
    //background-color: yellow;
  }

  @include mq('tablet') {
    height: 160px;
  }

  @include mq('tablet-small') {
    height: 160px;
  }

  @include mq('phablet') {
    height: 130px;
  }

  @include mq('phone-wide') {
    height: 110px;
  }

  &:after {
    @include pseudo();
    background: linear-gradient(rgba(white,.1),rgba(black,.2));
    //background: black;
    height: inherit;
    width: inherit;
  }
}

.header__imageTitle{
  position: absolute;
  top: 20px;
  left: 0px;

  @include mq('desktop') {
    //height: 205px;
  }

  @include mq('tablet') {
    //height: 160px;
  }

  @include mq('tablet-small') {
    //left: 0px;
  }

  .music {
    //margin-top: 50px;
    //display: none;
    //position: absolute !important;
    //right: 0;
    
    audio {
      //position: absolute;
      //right: 0;
      //bottom: 0;
    }
  }
}
