
@import "../assets/hot-kit/hot-kit";

.sources {
  padding-top: 50px;
  background-color: black;
  text-align: center;
  user-select: none;

  input{display:none}

  * {
    transition: all .5s ease-in-out;
  }

  label {
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
    height: 100px;
    color: white;
    
    img{
      user-select: none;
    }
  }

  h1 {
    color: white;
    font-family: "Californian FB";
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .source-box {display:none;}

  input:checked + .source-animation{
    height: auto;
    background-color: rgba(#333, .7);
    border-radius: 5px;

    .source-box {
      display: inline;
      margin-bottom: 60px;
      //width: inherit;

      .info {
        padding: 10px 0;

        @include mq('tablet-small') {
          padding: 35px 0;
        }

        h3 {
          font-family: "Californian FB";
          font-size: 30px;
          font-weight: bold;
          //text-transform: uppercase;
        }
      }

      div > div:nth-child(1) {
        text-align: left;

        h3, a {
          margin-left: 5%;
        }

        @include mq('tablet-small') {
          text-align: center;
          margin: 0;
        }
      }

      div > div:nth-child(2) {
        text-align: right;

        h3, a {
          margin-right: 5%;
        }

        @include mq('tablet-small') {
          text-align: center;
          margin: 0;
        }
      }

      div:nth-child(1) > div:nth-child(2) a,
      div:nth-child(2) > div:nth-child(2) a {
        font-size: 12px;

        @include mq('desktop') {
          font-size: 11px;
        }

        @include mq('tablet-small') {
          font-size: 8px;
        }
      }

      a {
        font-size: 16px;
        display: block;
      }

      //div:nth-child(4) > div {
      //  text-align: center !important;
      //
      //  h3, a {
      //    margin-left: 0 !important;
      //  }
      //
      //  @include mq('tablet') {
      //    text-align: left !important;
      //    margin-left: 5%;
      //  }
      //
      //  @include mq('tablet-small') {
      //    text-align: center !important;
      //    margin-left: 0;
      //  }
      //}

    }

    img {
      transform: rotateX(180deg);
    }
  }
}