/* Reference Abbreviations

CT - Avoiding content touching

*/

@import "../assets/hot-kit/hot-kit";

.timeline {
  margin-top: 200px;
  height: 1700px;

  h2, h3 {
    position: absolute;
    color: #ffffff;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, .8);

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-device-width: 991px) {
      font-size: 18px;
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      font-size: 20px;
    }

    @include mq('phablet') {
    //  Blank
    }

    @include mq('phone-wide') {
      font-size: 15px;
    }
  }
}

.timeline__imageStairs {
  position: absolute;
  left: 387px;

  //Large Devices (Desktop - Laptop)
  @media (min-width: 992px) and (max-width: 1199px) {
    left: 308px;

    img {
      width: 400px;
    }
  }

  //Medium Devices (Laptop - Tablet)
  @media (min-width: 768px) and (max-width: 991px) {
    left: 0px;

    img {
      width: 200px;
    }
  }

  //Small Devices (Tablet - Mobile)
  @media (max-width: 767px) {
    left: 20px;

    img {
      width: 150px;
      height: 630px;
    }
  }

  @include mq('phablet') {
    img {
      width: 100px;
    }
  }
}

.timeline__2ndImageStairs {
  position: absolute;
  right: 0px;
  top: 1000px;

  //Large Devices (Desktop - Laptop)
  @media (min-width: 992px) and (max-width: 1199px) {
    left: 308px;

    img {
      width: 400px;
    }
  }

  //Medium Devices (Laptop - Tablet)
  @media (min-width: 768px) and (max-width: 991px) {
    img {
      width: 200px;
    }
  }

  //Small Devices (Tablet - Mobile)
  @media (max-width: 767px) {
    top: 760px;
    right: 10px;

    img {
      width: 150px;
      height: 580px;
    }
  }

  @include mq('phablet') {
    top: 810px;
    right: 10px;

    img {
      width: 100px;
    }
  }
}

.timeline__textYears {
  height: auto;

  //Large Devices (Desktop - Laptop)
  @media (min-width: 992px) and (max-width: 1199px) {
    h3 {
      font-size: 22px;
    }
  }

  //Medium Devices (Laptop - Tablet)
  @media (min-width: 768px) and (max-width: 991px) {
    //Blank
  }

  //Small Devices (Tablet - Mobile)
  @media (max-width: 767px) {
    //Blank;
  }

  .timeline__1770 {
    margin-top: 15px;

    div > div:nth-child(2) {
      padding: 0;
    }

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 10px;

      div > div:nth-child(2) h3 {
        //line-height: 20px;
        margin-left: -30px;
      }
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 0;

      h3 {
        line-height: 0;
      }

      div > div:nth-child(2) h3 {
        margin-left: 10px;
      }
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      margin-top: -10px;

      div > div:nth-child(2) h3 {
        //line-height: 20px;
        margin-left: -10px;
      }
    }

    @include mq('phablet') {
      //margin-top: 10%;
    }
  }

  .timeline__1783 {
    margin-top: 60px;

    div > div:nth-child(2) {
      padding: 0;
      margin-left: -50px;
    }

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 50px;

      div > div:nth-child(2) h3 {
        line-height: 25px;
        margin-left: 20px;
      }
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 30px;

      div > div:nth-child(2) h3 {
        margin-left: 60px;
      }
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      margin-top: 30px;

      div > div:nth-child(2) h3 {
        margin-left: 40px;
      }
    }

    @include mq('phablet') {
      margin-top: 6%;
      //margin-top: 10%;
      //width:;
    }
  }

  .timeline__1787 {
    margin-top: 70px;
    text-align: right;
    //background-color: black;
    //height: auto;

    div > div:nth-child(2) {
      //padding: 0;
      //padding-right: 100px;

    }

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 70px;

      div > div:nth-child(2) h3 {
        //color: black;
        //line-height: 25px;
        //text-align: left;
      }
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 50px;

      div > div:nth-child(2) h3 {
        text-align: left;
        margin-left: -6px;
      }
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      margin-top: 40px;
      text-align: left;

      div > div:nth-child(2) h3 {
        margin-left: -25px;
      }
    }

    @include mq('phablet') {
      margin-top: 8%;
    }
  }

  .timeline__1792 {
    margin-top: 70px;

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 65px;
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 130px;

      div > div:nth-child(2) h3 {
        text-align: left;
        margin-left: -6px;
      }
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      margin-top: 85px;

      //h3 {
      //  padding-right: 10px;
      //}

      div > div:nth-child(2) h3 {
        margin-left: -25px;
      }
    }

    @include mq('phablet') {
      margin-top: 19%;
    }
  }

  .timeline__1800 {
    margin-top: 140px;

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 120px;
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 70px;

      div > div:nth-child(2) h3 {
        text-align: left;
        margin-left: -6px;
      }
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      margin-top: 60px;

      div > div:nth-child(2) h3 {
        margin-left: -25px;
      }
    }

    @include mq('phablet') {
      margin-top: 11%;
    }
  }

  .timeline__1801 {
    margin-top: 180px;

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 170px;
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 120px;
      div > div:nth-child(2) h3 {
        text-align: left;
        margin-left: -6px;
      }
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      margin-top: 100px;

      div > div:nth-child(2) h3 {
        //margin-left: -25px;
      }
    }

    @include mq('phablet') {
      margin-top: 19%;
    }
  }

  .timeline__1802 {
    margin-top: 70px;
    text-align: right;

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 55px;

      div > div:nth-child(2) {
        padding: 0;
      }
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      text-align: left;
      margin-top: 200px;

      div > div:nth-child(2) h3 {
        text-align: left;
        margin-left: -6px;
      }
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      margin-top: 150px;
      text-align: left;

      div > div:nth-child(2) h3 {
        margin-left: -25px;
      }
    }

    @include mq('phablet') {
      margin-top: 30%;
    }
  }

  .timeline__1813 {
    margin-top: 280px;
    text-align: right;

    div > div:nth-child(2) {
      padding: 0;
    }

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 250px;
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      text-align: right;
      margin-top: 360px;
      //display: none;
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      //margin-top: 38%;
      margin-top: 280px;
    }

    @include mq('phablet') {
      //margin-top: 42%;
      margin-top: 250px;
    }

    @media (max-width: 570px) {
      margin-top: 52%;
    }
  }

  .timeline__1814 {
    margin-top: 70px;

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 60px;
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      text-align: right;
      margin-top: 150px;

      div > div:nth-child(2) h3 {
        text-align: left;
        margin-left: -6px;
      }
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      margin-top: 14%;
      text-align: right;
    }

    // Avoiding content touching from above
    @media (max-width: 656px) {
      margin-top: 18%;
    }

    @include mq('phablet') {
      margin-top: 19%;
    }
  }

  .timeline__1815 {
    margin-top: 130px;

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 120px;
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 125px;
      text-align: right;
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      margin-top: 14%;
      text-align: right;
    }

    @include mq('phablet') {
      margin-top: 15%;
    }

    @media (max-width: 570px) {
      margin-top: 19%;
    }

  }

  .timeline__1824 {
    margin-top: 190px;

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 170px;
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 150px;
      text-align: right;
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      text-align: right;
      margin-top: 15%;
    }

    @include mq('phablet') {
      margin-top: 19%;
    }

    @media (max-width: 570px) {
      margin-top: 25%;
    }
  }

  .timeline__1825-1826 {
    margin-top: 60px;
    text-align: right;

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 50px;
      padding-right: 10px;

      div > div:nth-child(2) {
        padding: 0;
      }
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 75px;
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      text-align: right;
      margin-top: 12%;
    }

    @include mq('phablet') {
      margin-top: 11%;
    }
  }

  .timeline__1827 {
    margin-top: 290px;
    text-align: center;

    h3 {
      //width: 100%;
      //text-align: center;
      //margin: auto;
    }

    //Large Devices (Desktop - Laptop)
    @media (min-width: 992px) and (max-width: 1199px) {
      //Blank
    }

    //Medium Devices (Laptop - Tablet)
    @media (min-width: 768px) and (max-width: 991px) {
      h3 {
        //width: 100%;
        //margin: auto;
        //height: auto;
      }
    }

    //Small Devices (Tablet - Mobile)
    @media (max-width: 767px) {
      //Blank;

    }
  }

  // Padding for scale size below 765px
  .timeline__1770,
  .timeline__1783,
  .timeline__1787,
  .timeline__1792,
  .timeline__1800,
  .timeline__1801,
  .timeline__1802 {
    @include mq('tablet-small') {
      h3 {
        padding-right: 12px;
      }
    }
  }

  // Avoiding element touch of the top section
  //.timeline__1813 {
  //  @include mq('phablet') {
  //    margin-top: 40%;
  //  }
  //}

}

