.header {
  background-color: #003366;
  height: 230px;
  width: 100%; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header {
      height: 205px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .header {
      height: 160px; } }
  @media (max-width: 767px) {
    .header {
      height: 160px; } }

.header__imageTitle {
  position: absolute;
  top: 20px;
  left: 10px; }
  @media (max-width: 767px) {
    .header__imageTitle {
      left: 0px; } }

.biography {
  margin-top: 85px;
  background-color: #330000;
  height: 600px;
  border-radius: 8px;
  box-shadow: inset 0 3px 8px rgba(255, 255, 255, 0.5); }
  @media (min-width: 768px) and (max-width: 991px) {
    .biography {
      height: auto; } }
  @media (max-width: 767px) {
    .biography {
      margin-top: 45px;
      height: auto; } }

.biography__sheet {
  margin: 15px 18px;
  background-color: #f0c05e;
  width: auto;
  height: 570px;
  border-radius: 2px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .biography__sheet {
      height: auto; } }
  @media (max-width: 767px) {
    .biography__sheet {
      height: auto; } }

.biography__text {
  margin-top: 30px; }
  .biography__text h3 {
    font-family: sail;
    font-size: 22px;
    padding: 0; }
  .biography__text h3:nth-child(1) {
    margin-top: 0; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .biography__text h3 {
      font-size: 19px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .biography__text {
      margin-top: 20px; }
      .biography__text h3 {
        font-size: 19px; } }
  @media (max-width: 767px) {
    .biography__text {
      margin-top: 20px; }
      .biography__text h3 {
        font-size: 19px; } }

.biography__bar {
  position: absolute;
  left: 563px;
  width: 4px !important;
  height: 570px;
  background: #666600;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  float: left; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .biography__bar {
      left: 487px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .biography__bar {
      display: none; } }
  @media (max-width: 767px) {
    .biography__bar {
      display: none; } }

.biography__selfie {
  margin-top: 30px;
  height: auto; }
  .biography__selfie img {
    margin-left: 50px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .biography__selfie img {
      margin-left: 32px;
      width: 400px;
      height: 500px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .biography__selfie img {
      width: 550px;
      height: 550px;
      margin-left: 70px;
      margin-bottom: 18px; } }
  @media (max-width: 767px) {
    .biography__selfie img {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      margin-bottom: 18px; } }

.timeline {
  margin-top: 200px;
  height: 1700px; }
  .timeline h2, .timeline h3 {
    position: absolute;
    color: #ffffff; }
    @media (min-width: 768px) and (max-device-width: 991px) {
      .timeline h2, .timeline h3 {
        font-size: 18px !important; } }

.timeline__imageStairs {
  position: absolute;
  left: 387px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .timeline__imageStairs {
      left: 308px; }
      .timeline__imageStairs img {
        width: 400px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .timeline__imageStairs {
      left: 0px; }
      .timeline__imageStairs img {
        width: 200px; } }

.timeline__textYears {
  height: auto; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .timeline__textYears h3 {
      font-size: 22px; } }
  .timeline__textYears .timeline__1770 {
    margin-top: 15px; }
    .timeline__textYears .timeline__1770 div > div:nth-child(2) {
      padding: 0; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1770 {
        margin-top: 10px; }
        .timeline__textYears .timeline__1770 div > div:nth-child(2) h3 {
          line-height: 20px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1770 {
        margin-top: 0; }
        .timeline__textYears .timeline__1770 h3 {
          line-height: 0; } }
  .timeline__textYears .timeline__1783 {
    margin-top: 60px; }
    .timeline__textYears .timeline__1783 div > div:nth-child(2) {
      padding: 0; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1783 {
        margin-top: 50px; }
        .timeline__textYears .timeline__1783 div > div:nth-child(2) h3 {
          line-height: 25px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1783 {
        margin-top: 20px; } }
  .timeline__textYears .timeline__1787 {
    margin-top: 70px;
    text-align: right; }
    .timeline__textYears .timeline__1787 div > div:nth-child(2) {
      padding: 0; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1787 {
        margin-top: 60px; }
        .timeline__textYears .timeline__1787 div > div:nth-child(2) h3 {
          line-height: 25px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1787 {
        display: none; } }
  .timeline__textYears .timeline__1792 {
    margin-top: 70px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1792 {
        display: none; } }
  .timeline__textYears .timeline__1800 {
    margin-top: 140px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1800 {
        margin-top: 115px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1800 {
        display: none; } }
  .timeline__textYears .timeline__1801 {
    margin-top: 180px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1801 {
        margin-top: 170px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1801 {
        display: none; } }
  .timeline__textYears .timeline__1802 {
    margin-top: 70px;
    text-align: right; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1802 {
        margin-top: 60px; }
        .timeline__textYears .timeline__1802 div > div:nth-child(2) {
          padding: 0; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1802 {
        display: none; } }
  .timeline__textYears .timeline__1813 {
    margin-top: 280px;
    text-align: right; }
    .timeline__textYears .timeline__1813 div > div:nth-child(2) {
      padding: 0; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1813 {
        margin-top: 250px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1813 {
        display: none; } }
  .timeline__textYears .timeline__1814 {
    margin-top: 70px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1814 {
        margin-top: 60px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1814 {
        display: none; } }
  .timeline__textYears .timeline__1815 {
    margin-top: 130px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1815 {
        margin-top: 120px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1815 {
        display: none; } }
  .timeline__textYears .timeline__1824 {
    margin-top: 190px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1824 {
        margin-top: 180px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1824 {
        display: none; } }
  .timeline__textYears .timeline__1825-1826 {
    margin-top: 60px;
    text-align: right; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .timeline__textYears .timeline__1825-1826 {
        margin-top: 50px; }
        .timeline__textYears .timeline__1825-1826 div > div:nth-child(2) {
          padding: 0; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1825-1826 {
        display: none; } }
  .timeline__textYears .timeline__1827 {
    margin-top: 290px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .timeline__textYears .timeline__1827 {
        display: none; } }

.gradient {
  background: linear-gradient(to top, black, transparent);
  height: 300px; }

.main-content {
  background-color: black; }

.star-animation {
  background: url("../img/star.png");
  height: 500px; }

body {
  background-color: #333333;
  height: 4000px; }

.plc {
  background-color: rgba(0, 0, 255, 0.2);
  border: 2px solid yellow; }

@font-face {
  font-family: 'sail';
  src: url("fonts/sail/Sail-Regular.ttf");
  font-weight: 500; }
