
@import './components/hot-kit/hot-kit';

@import './components/header';
@import './components/biography';
@import './components/timeline';
@import './components/gradient';
@import './components/main-content';
@import './components/piano';




body {
  background-color: #333333;
  height: 4000px;
}

.container {
  //border: 2px solid yellow;
}

//Hot Keys

//Placeholder
.plc {
  background-color: rgba(0, 0, 255, .2);
  border: 2px solid yellow;
}

//Fonts
@font-face {
  font-family: 'sail';
  src: url('fonts/sail/Sail-Regular.ttf');
  font-weight: 500;
  //font-style: italic;
}



//Mixins
//naked_link()

//Smaller Mobile Sizes//////

//@media (max-width: 767px) {
//  .container {
//    width: 360px;
//  }
//}



////Large Devices (Desktop - Laptop)
//@media (min-width: 992px) and (max-width: 1199px) {
//  //Blank
//}
//
////Medium Devices (Laptop - Tablet)
//@media (min-width: 768px) and (max-width: 991px) {
//  //Blank
//}
//
////Small Devices (Tablet - Mobile)
//@media (max-width: 767px) {
//  //Blank;
//
//}


//Selecting all with starting Class name
//div[class^='col'] {
//  padding: 0 !important;
//}

//Fuck this
