
@import './components/header';
@import './components/biography';
@import './components/timeline';

body {
  background-color: #333333;
  height: 4000px;
}

.container {
  border: 2px solid yellow;
}

.placeholder {
  background-color: rgba(0, 0, 255, .2);
  //border: 1px solid yellow;
}
